@model IEnumerable<Sklep_new.Models.Kategoria>
@using Sklep_new.Infrasctructure

<link href="~/Content/css/Menu.css" rel="stylesheet" />

    <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    @foreach (var kategoria in Model)
    {
        <a href="@Url.Action("Lista", "Kursy", new { nazwaKategorii = kategoria.NazwaKategorii.ToLower() })">
            @kategoria.NazwaKategorii
        </a>
    }

    </div>


  


<div id="main">
    <span style="font-size: 13px;cursor: pointer;" onclick="openNav()">&#9776; Open</span>
</div>


    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "150px";
            document.getElementById("main").style.marginLeft = "150px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>


