@model IEnumerable<Sklep_new.Models.Kurs>
@using Sklep_new.Infrasctructure

@{
    ViewBag.Title = "Lista";

}

<!-- Page Content -->
<div class="container">
    <div class="row row-offcanvas row-offcanvas-left active">
        @Html.Action("KategorieMenu")
        <div class="row text-center">
            @Html.Partial("_KursyList")
        </div>
    </div>
</div>
